# Variables:
# - API_PORT (default: {{API_PORT_DEFAULT}}): Port to expose for {{NAME}} API
# - DISABLE_AUTH (default: <none>): If a value is provided, turn off authentication on {{NAME}} service

services:
  auth:
    build:
      context: docker-local-auth
    hostname: {{NAME}}-auth.local
    ports:
      - 8080:8080
  api:
    depends_on:
      - auth
    build:
      context: .
      dockerfile_inline: |
        FROM {{DOCKER_IMAGE_NAME}}
    ports:
      - ${API_PORT:-{{API_PORT_DEFAULT}}}:80
    environment:
      {{ENVVAR_PREFIX}}_DB_PATH: /app/data/{{NAME}}.sqlite
      {{ENVVAR_PREFIX}}_PORT: 80
      {{ENVVAR_PREFIX}}_AUTH_PROVIDER_URL: http://{{NAME}}-auth.local:8080/realms/{{NAME}}
      {{ENVVAR_PREFIX}}_REDIRECT_URL: http://localhost:${API_PORT:-{{API_PORT_DEFAULT}}}/auth/callback
      {{ENVVAR_PREFIX}}_DISABLE_AUTH: ${DISABLE_AUTH}