[Unit]
Description=Service that runs the {{NAME}} service locally
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
ExecStart=smt start {{NAME}}

[Install]
WantedBy=multi-user.target
